<div class="row" *ngIf="loading == true">
    <div class="col-md-12 text-center">
        <mat-progress-bar mode="buffer"></mat-progress-bar>
    </div>
</div>

<div class="row" *ngIf="loading == false">

    <div class="col-md-12 mt-3">
        <div class="row">
            <div class="col-md-10">
                <h4>{{campeonato.nome}} <small> / Resultado da Copa</small></h4>
            </div>

            <div class="col-md-2">
                <a [routerLink]="['/campeonato']" class="btn btn-sm btn-block btn-outline-dark">Voltar</a>
            </div>
        </div>
        <hr />
    </div>

</div>

<div class="row" *ngIf="loading == false">

    <div class="col-md-12 mt-1">

        <div class="row">

            <div class="col-md-4 mb-2 text-center">
                <mat-card class="bg-success">
                    <mat-card-title> 1º Lugar </mat-card-title>
                    <mat-card-content><h4>{{ jogoFinal.equipeVencedora }}</h4></mat-card-content>
                </mat-card>
            </div>

            <div class="col-md-4 mb-2 text-center">
                <mat-card class="bg-light">
                    <mat-card-title> 2º Lugar </mat-card-title>
                    <mat-card-content><h4>{{ segundoLugar }}</h4></mat-card-content>
                </mat-card>
            </div>

        </div>

        <div class="row mt-3">
            <div class="col-md-12">

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Rodada</th>
                            <th scope="col">Vencedor</th>
                            <th scope="col"></th>
                            <th></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let jogo of jogos">
                            <th scope="row">{{ jogo.fase }}</th>
                            <td>{{ jogo.equipeVencedora }}</td>
                            <td>{{ jogo.equipeFirst }}</td>
                            <td><b>vs</b></td>
                            <td>{{ jogo.equipeLast }}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>

</div>
