<div class="row">
    <div class="col-md-6">
        <img width="100%" src="assets/imgs/jogador-futebol.png"/>
    </div>

    <div class="col-md-6">
        <div class="row">

            <div class="col-md-12 mt-4">
                <h3>Bem vindo,</h3>
            </div>

            <div class="col-md-12 mt-4">
                <h5>Regras do Campeonato</h5>
            </div>

            <div class="col-md-12 mt-2">
                <ul>
                    <li>
                        Selecione 8 Equipes
                    </li>
                    <li>
                        É <b>terminantemente proibido</b> combinar Jogos
                    </li>
                    <li>
                        É <b>terminantemente proibido</b> compar o Juiz
                    </li>
                    <li>
                        Seja Fair play
                    </li>
                    <li>
                        Sem SQL Injection por favor :)
                    </li>
                </ul>
            </div>

            <div class="col-md-12 mt-2">
                <h5>Tudo entendido?</h5>
            </div>

            <div class="col-md-12 mt-2">
                <a [routerLink]="['/gerar-campeonato']" class="btn btn-lg btn-block btn-primary">Sim! Criar Campeonato</a>
            </div>
        </div>
    </div>
</div>