<div class="row" *ngIf="loading == true">
    <div class="col-md-12 text-center">
        <mat-progress-bar mode="buffer"></mat-progress-bar>
    </div>
</div>

<div class="row" *ngIf="loading == false">

    <div class="col-md-12 mt-2" [hidden]="!campeonatos">

        <div class="row">

                <div *ngFor="let campeonato of campeonatos.reverse()" class="col-md-4 mb-2 text-center">
                    <mat-card class="bg-light">
                        <mat-card-title>{{campeonato.nome}}</mat-card-title>

                        <mat-card-actions>
                            <a [routerLink]="['/ver-campeonato',campeonato.campeonatoId]">Visualizar Resultado</a>
                        </mat-card-actions>
                    </mat-card>
                </div>

        </div>

    </div>

</div>