<div class="row" *ngIf="loading == true">
    <div class="col-md-12 text-center">
        <mat-progress-bar mode="buffer"></mat-progress-bar>
    </div>
</div>

<div class="row" *ngIf="loading == false">

    <div *ngIf="sucesso == true" class="col-md-12">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Sucesso!</h4>
            <p>{{resultadoMsg}}</p>
            <hr>
            <a [routerLink]="['/ver-campeonato',campeonatoId]">Acessar Resultados do Campeonato</a>
        </div>
    </div>

    <div *ngIf="sucesso == false" class="col-md-12">
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Erro! Ops! Kernel Panic</h4>
            <p>{{resultadoMsg}}</p>
            <hr>
            :(
        </div>
    </div>

    <div class="col-md-12 mt-2" [hidden]="!equipes || sucesso != null">
        <div class="row">

            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-10">
                        <h5>Selecionado {{equipeIds.length}} de 8</h5>
                    </div>

                    <div class="col-md-2">
                        <a [routerLink]="['/']" class="btn btn-sm btn-block btn-outline-dark">Voltar</a>
                    </div>

                </div>
            </div>

            <div class="col-md-12 mt-3">

                <div class="row">

                    <div *ngFor="let equipe of equipes" class="col-md-3 mb-2">
                        <mat-card class="bg-light">
                            <mat-card-title class="text-center">{{equipe.nome}}</mat-card-title>

                            <mat-card-actions>
                                <mat-slide-toggle [disabled]="goodToGo" (change)="adicionarEquipe($event, equipe.equipeId)">Selecionar</mat-slide-toggle>
                            </mat-card-actions>
                        </mat-card>
                    </div>

                </div>

            </div>

            <div class="col-md-12 mt-3">
                <input [disabled]="!goodToGo" class="form-control" [(ngModel)]="nomeCampeonato" placeholder="Qual o nome do seu Campeonato?">
            </div>

            <div class="col-md-12 mt-3">
                <a [class.disabled]="!goodToGo" (click)="enviarEquipes()" class="btn btn-lg btn-block btn-primary">Começar o Campeonato</a>
            </div>

        </div>
    </div>

</div>